<div class="page-collection-header__left d-flex justify-content-between flex-wrap {% unless section.settings.sidebar_template  == 'sidebarnone'  %}page-collection-header--no-fullwith flex-lg-nowrap{% endunless %} mb-4">
	<div class="collection-filter {% unless section.settings.sidebar_template  == 'sidebarnone'  %}d-block d-lg-none{% endunless %}{% unless section.blocks.size > 0 %}d-none{% endunless%}">
		<button class="js-sidebar-toggle collection-filter__button d-flex align-items-center p-0 border-0" type="button">
			{% render 'icons', icon: 'filter' %}
			<span class="ms-1">{{ 'collections.filter.filter' | t }}</span>
		</button>
	</div>
	{%- assign min_page = 1 -%}
	{%- assign max_page = paginate.page_size | times:paginate.current_page -%}
	{%- if paginate.current_page > 1 -%}
	{%- assign current_page = paginate.current_page | minus:1 -%}
	{%- assign min_page = current_page | times: paginate.page_size -%}
	{%- endif -%}
	{%- if max_page > paginate.items -%}
	{%- assign max_page = paginate.items -%}
	{%- endif -%}
	<div id="CollectionProductCount" class="collection-product-count ps-2 mt-2" role="status">{{ 'collections.general.product_count_html' | t: min_page:min_page, max_page:max_page, items_page:paginate.items }}</div>
	<div class="active-facets active-facets-desktop">
		{%- for filter in collection.filters -%}
			{%- for value in filter.active_values -%}
				<a class="active-facets__button active-facets__button--light rounded-pill js-facet-remove" href="{{ value.url_to_remove }}">
				{{ value.label | escape }}
				{% render 'icons', icon: 'close-bold', class: 'ms-2' %}
				</a>
			{%- endfor -%}
			{% if filter.type == "price_range" %}
				{%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
				<a class="active-facets__button active-facets__button--light rounded-pill js-facet-remove" href="{{ filter.url_to_remove }}" title="{{ 'collections.filter.clear' | t }}">
					{%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}
					{% render 'icons', icon: 'close-bold', class: 'ms-2' %}
				</a>
				{%- endif -%}
			{% endif %}
		{%- endfor -%}
		<a href="{{ collection.url }}?sort_by={{ sort_by }}" class="active-facets__button active-facets__clear_all js-facet-remove p-0" title="{{ 'collections.filter.clear_all' | t }}">{{ 'collections.filter.clear_all' | t }}</a>
	</div>
	{%- comment -%}
        {%- assign view_grid = 'grid' -%}
        {%- assign view_list = 'list' -%}
        <div class="collection-view">
			<div class="collection-view__item">
				<a class="js-change-view collection-view__btn collection-view__btn--grid{% unless template contains 'list' %} active{% endunless %}"
				href="javascript:void(0);"
				title="{{ 'collections.general.grid_view' | t }}"
				data-view="{{ view_grid }}">
				 	{% include 'icons', icon: 'plus' %}
				</a>
			</div>
			<div class="collection-view__item">
				<a class="js-change-view collection-view__btn collection-view__btn--list {% if template contains 'list' %} active{% endif %}"
				href="javascript:void(0);"
				title="{{ 'collections.general.grid_view' | t }}"
				data-view="{{ view_list }}">
					{% include 'icons', icon: 'plus' %}
				</a>
			</div>
        </div>
	{%- endcomment -%}
</div>
